.side-navbar {
    background-color: black;
    width: 8%;
    min-height: 780px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.side-navbar nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-icons {
    width: 50px;
    margin-bottom: 15px;
}

.Copyright {
    color: white;
    transform: rotate(-90deg);
    text-wrap: nowrap;
    font-family: "Roboto", sans-serif;
    font-size: 8px;
    position: absolute;
    bottom: 80px;
}