.radarchart-container {
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #3d3d3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radarchart-div-error {
  background-color: #ebebeb;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radarchart-error {
  font-size: 20px;
}