.info-card {
    background-color: #ebebeb;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.infocard-error {
    font-size: 12px;
}

.key-icon {
    width: 50px;
    margin: 10px;
}

.info-wrapper {
    margin: 10px;
    font-family: "Roboto", sans-serif;
}

.info-value {
    font-weight: bold;
    margin: 5px auto;
}

.info-type {
    font-size: 12px;
    margin: 5px auto;
    color: #74798C;
}