.top-navbar {
    background-color: black;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.mainIcon {
    width: 135px;
}

.nav-bloc {
    display: flex;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
}

.nav-items {
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin: auto 70px;
}